aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
backoff==1.10.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
lxml==4.6.3
multidict==4.7.6
pycodestyle==2.6.0
PyPDF2==1.27.5
python-docx==0.8.10
requests==2.24.0
six==1.15.0
urllib3==1.26.18
yarl==1.4.2
